---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import ExperienceItem from "./ExperienceItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EXPERIENCE = [
  {
    date: t("experience.LMC.date"),
    title: t("experience.LMC.title"),
    company: t("experience.LMC.company"),
    description: t("experience.LMC.description"),
  },
  {
    date: t("experience.internship.date"),
    title: t("experience.internship.title"),
    company: t("experience.internship.company"),
    description: t("experience.internship.description"),
  },
  {
    date: t("experience.monlau.date"),
    title: t("experience.monlau.title"),
    company: t("experience.monlau.company"),
    description: t("experience.monlau.description"),
  },
];
---

<section id="experience" class="flex flex-col gap-y-10">
  <h2 class="text-3xl font-bold flex items-center gap-x-3">
    {t("experience")}
  </h2>
  <ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
      EXPERIENCE.map((item) => (
        <ExperienceItem
          date={item.date}
          title={item.title}
          company={item.company}
          description={item.description}
        />
      ))
    }
  </ol>
</section>
