---
import ReactIcon from "simple-icons-astro/React";
import TailwindcssIcon from "simple-icons-astro/Tailwindcss";
import AstroIcon from "simple-icons-astro/Astro";
import JavascriptIcon from "simple-icons-astro/Javascript";
import NodeJsIcon from "simple-icons-astro/Nodedotjs";
import TypeScriptIcon from "simple-icons-astro/Typescript";
import NextJsIcon from "simple-icons-astro/Nextdotjs";
import NestJsIcon from "simple-icons-astro/Nestjs";
import PostgreSQLIcon from "simple-icons-astro/Postgresql";
import MongoDBIcon from "simple-icons-astro/Mongodb";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import SkillItem from "./SkillItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const SKILLS = [
  {
    name: "JavaScript",
    icon: JavascriptIcon,
  },
  {
    name: "TypeScript",
    icon: TypeScriptIcon,
  },
  {
    name: "React",
    icon: ReactIcon,
  },
  {
    name: "Astro",
    icon: AstroIcon,
  },
  {
    name: "Next.js",
    icon: NextJsIcon,
  },
  {
    name: "Tailwind CSS",
    icon: TailwindcssIcon,
  },
  {
    name: "Node.js",
    icon: NodeJsIcon,
  },
  {
    name: "NestJS",
    icon: NestJsIcon,
  },
  {
    name: "PostgreSQL",
    icon: PostgreSQLIcon,
  },
  {
    name: "MongoDB",
    icon: MongoDBIcon,
  },
];
---

<section class="flex flex-col gap-y-6">
  <h2 class="text-2xl font-bold">{t("techStack")}</h2>

  <div class="flex flex-wrap gap-4">
    {SKILLS.map((tech) => <SkillItem name={tech.name} icon={tech.icon} />)}
  </div>
</section>
